@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
body {
    margin: 0;
    background: url(../img/Working-Space.jpg) #000 no-repeat center center fixed;
    background-size: cover;
    font-family: 'Shadows Into Light', cursive;;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
}

p {
    color: #fff;
    font-size: .9em;
    letter-spacing: 1.3px;
}

a {
    color: #fff;
    opacity: .6;
    text-decoration: none;
}

a:hover {
    opacity: 1;
    -webkit-transition: ease-out 1s;
    -moz-transition: ease-out 1s;
    -o-transition: ease-out 1s;
    transition: ease-out 1s;
}

#vc {
    font-weight: 300;
    color: white;
    font-size: 1em;
    width: 100%;
}

#vcLogo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#reachUs {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 20px;
}

.fa-stack {
    margin: 0 8px;
}

.fa-stack {
    font-size: 1em;
    color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-transition: ease-out 1s;
    -moz-transition: ease-out 1s;
    -o-transition: ease-out 1s;
    transition: ease-out 1s;
}

.fa-stack:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
